/*
*Variables couleurs
*
*/

//Blancs & transparences

$white : #fff;
$white-transparent-85percent : rgba(255,255,255,0.85);


//Jaunes & transparences



//Bleus & transparences


//Noirs et transparences

//Gris et Transparences

$grey-5A5C6A: #5A5C6A;
$grey-5A5C6A-transparent-90percent: rgba(90,92,106,.90);

