
    <ul class="menuMain__leftNav">
      <li class="menuMain__nav__item">
        <ul class="subMenu"><a [routerLink]="['/philosophie']" class="menu__nav__item__link">Notre Philosophie</a>

          <li class="subMenu__item"><a [routerLink]="['/fondatrices']" class="subMenu__item__link">Les fondatrices</a> </li>
          <li class="subMenu__item"><a [routerLink]="['/projet-pedagogique']" class="subMenu__item__link">Projet pédagogique</a> </li>
        </ul>
      </li>
      <li class="menuMain__nav__item"><a [routerLink]="['/nos-creches']" class="menu__nav__item__link">Nos crèches</a></li>
      <li class="menuMain__nav__item"><a [routerLink]="['/nos-ateliers']" class="menu__nav__item__link">Nos ateliers</a></li>
    </ul>
    <ul class="menuMain__rightNav">
      <li class="menuMain__nav__item"><a [routerLink]="['/notre-conciergerie']" class="menu__nav__item__link">Notre Conciergerie</a></li>
      <li class="menuMain__nav__item"><a [routerLink]="['/notre-blog']" class="menu__nav__item__link">Notre Blog</a></li>
      <li class="menuMain__nav__item"><a [routerLink]="['/nous-contacter']" class="menu__nav__item__link">Nous contacter</a></li>
    </ul>

