/****
*
*Component Bloc home
*
*/


@import "../../styles/colors";


.info-container{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  height: 375px;
  background-color: $white-transparent-85percent;
}


