


<button type="button" id="closeMenuburger" aria-label="fermeture menu burger" class="btn-burger btn" (click)="onClickButtonClose()" >
  <img src="../../assets/images/svg/close.svg" alt="">
</button>
<ul class="menuBurger__nav">
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/philosophie']" class="menuBurger__nav__item__link">Notre Philosophie</a></li>
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/fondatrices']" class="menuBurger__nav__item__link">Les fondatrices</a> </li>
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/projet-pedagogique']" class="menuBurger__nav__item__link">Projet pédagogique</a> </li>
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/nos-creches']" class="menuBurger__nav__item__link">Nos crèches</a></li>
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/nos-ateliers']" class="menuBurger__nav__item__link">Nos ateliers</a></li>
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/notre-conciergerie']" class="menuBurger__nav__item__link">Notre Conciergerie</a></li>
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/notre-blog']" class="menuBurger__nav__item__link">Notre Blog</a></li>
  <li class="menuBurger__nav__item">
    <a [routerLink]="['/nous-contacter']" class="menuBurger__nav__item__link">Nous contacter</a></li>
</ul>



